@font-face {
    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }
}

.custom {
    background-image: url(../images/best-laptop-for-programming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    height: 768px;
}

html {
    scroll-behavior: smooth;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
}

.btn-nav:hover {
    background-color: #5c636a !important;
}

.img-logo {
    width: 60px;
}

.img-icon {
    width: 100px;
}

.container-social {
    display: flex;
    list-style-type: none;

    li {
        display: block;

        a {
            display: block;
            color: #2d3748;
            transition: all 0.1s;
            font-size: 14px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


.background-2 {
    background-image: url(../images/photo_2024-09-25_17-21-24.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 504px;
}

.background-3 {
    background-image: url(../images/photo_2024-09-22_20-26-29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo2 {
    width: 30px;
}

.part-seven {
    transition: none !important;
    transform: none;
}

.custom-img {
    height: 800px;
}

.container-circle {
    bottom: 160px !important;
}

.custom-circle {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.img-offcanvas {
    width: 40px;
}

.link-footer {
    right: 0;
    bottom: 0;
}

.txt-studio {
    font-size: 14px !important;
}

.btn-resome:hover {
    background-color: #6c757d !important;
}

.btn-contact:hover {
    background-color: #e2e3e5 !important;
}

@media all and (min-width:1400px) {
    .txt-value {
        width: 572px;
    }

    .background-3 {
        height: 594px !important;
    }
}


@media all and (min-width:1200px) and (max-width:1399px) {}

@media all and (min-width:992px) and (max-width:1199px) {
    .navbar-collapse {
        font-size: 14px !important;
    }

    .part-input {
        width: 300px !important;
    }

    .btn-submit {
        width: 300px !important;

    }

    .text-studio {
        font-size: 32px;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    #navbarSupportedContent {
        background-color: #202021 !important;
    }

    .back-img2 {
        background-image: url(../images/photo_2024-09-22_20-26-29.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;

    }



    .custom-img {
        background-image: url("../images/best-laptop-for-programming.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40%;
    }

    .container-circle {
        bottom: 175px !important;
    }

    .container-caption {
        bottom: 230px !important;
    }

    .txt-header {
        padding-top: 160px;
    }

    .text-studio {
        font-size: 32px;
    }

}

@media all and (max-width:767px) {





    .txt-email {
        font-size: 12px;
    }

    .star {
        font-size: 12px !important;
    }

    .custom {
        background-position-x: 70% !important;
    }

    .back-img2 {
        background-image: url(../images/photo_2024-09-22_20-26-29.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;

    }

    .part-six {
        height: 400px;
    }

    .custom-img {
        background-image: url("../images/best-laptop-for-programming.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40%;
        height: 900px;
    }



    .txt-team {
        font-size: 29px;
    }

    .text-studio {
        font-size: 32px;
    }
}

@media all and (max-width:575px) {

    .background-2 {
        background-position-x: 20%;
    }

    .background-3 {
        background-position-x: 20%;
    }

    .part-third>div>a {
        width: 174px !important;
    }

    .part-third>div>a>i {
        top: 10px;
        left: 190px;
    }

    .container-circle {
        bottom: 60px !important;
    }

    .container-caption {
        bottom: 100px !important;
    }

    .img-icon {
        width: 80px !important;
    }

    .custom-img {
        background-position-x: 70%;
    }
}