@font-face {
    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }
}

.custom {
    background-image: url(../images/best-laptop-for-programming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    font-family: "Roboto", sans-serif;
    height: 768px;
}

html {
    scroll-behavior: smooth;
}

.button-header {
    background-color: rgb(182, 243, 189);
    font-size: 12px;
    line-height: 30px
}

.part-1 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.dropdown-item {
    padding: 13px !important;
    font-size: 14px !important;
}

.dropdown-menu {
    background-color: rgb(182, 243, 189);
    padding: 0;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
}

h2 {
    line-height: 48px;
}

.img-logo {
    width: 60px;
}

.img-icon {
    width: 100px;
}

.container-social {
    display: flex;
    list-style-type: none;

    li {
        display: block;

        a {
            display: block;
            color: #2d3748;
            transition: all 0.1s;
            font-size: 14px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.main-2 {
    padding-top: 200px;
}

.part-third {
    background-color: rgb(182, 243, 189);
}





.section-six {
    padding-top: 150px !important;
}

.part-forth {
    background-image: url(../images/photo_2024-09-25_17-21-24.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 504px;
}

.back-img2 {
    background-image: url(../images/photo_2024-09-22_20-26-29.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.btn-blog {
    padding: 80px 0;
}

.img-logo2 {
    width: 30px;
}


.part-six {
    background-image: url(../images/photo_2024-09-22_20-26-29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.part-seven {
    transition: none !important;
    transform: none;
}

.custom-img {
    height: 800px;
}

.container-circle {
    bottom: 160px !important;
}

.custom-circle {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.img-offcanvas {
    width: 40px;
}


.link-footer {
    right: 0;
    bottom: 0;

}

.txt-studio {
    font-size: 14px !important;
}

@media all and (min-width:1400px) {
    .article-card {
        margin: 0 200px;
    }

    .txt-value {
        width: 572px;
    }


    .txt-header {
        padding-top: 160px !important;
    }
}


@media all and (min-width:1200px) and (max-width:1399px) {
    .part-input {
        width: 300px !important;
    }

    .container-email {
        margin-top: 112px;
    }

    .part-value {
        padding-top: 80px !important;
    }

    .btn-submit {
        width: 300px !important;

    }

    .section-fifth {
        padding-top: 120px;
    }

    .txt-header {
        padding-top: 160px;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    .navbar-collapse {
        font-size: 14px !important;
    }

    .txt-header {
        padding-top: 160px;
    }

    .part-input {
        width: 300px !important;
    }

    .container-email {
        margin-top: 112px;
    }

    .part-value {
        padding-top: 80px !important;
    }

    .btn-submit {
        width: 300px !important;

    }

    .text-studio {
        font-size: 32px;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    #navbarSupportedContent {
        background-color: #202021 !important;
    }

    .txt-header {
        margin-top: 200px;
    }

    .back-img2 {
        background-image: url(../images/photo_2024-09-22_20-26-29.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }

    .part-value {
        padding-top: 80px !important;
    }



    .part-forth {
        height: 400px;
        margin-top: 80px !important;
    }

    .part-six {
        height: 400px;
    }

    .custom-img {
        background-image: url("../images/best-laptop-for-programming.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40%;
    }

    .container-circle {
        bottom: 175px !important;
    }

    .container-caption {
        bottom: 230px !important;
    }

    .txt-header {
        padding-top: 160px;
    }

    .text-studio {
        font-size: 32px;
    }

    .icon-header:hover {
        transform: none;
    }

}

@media all and (max-width:767px) {

    .dropdown-menu {
        background-color: transparent;
        padding: 0;
    }

    .icon-header:hover {
        transform: none;
    }



    .txt-email {
        font-size: 12px;
    }

    .star {
        font-size: 12px !important;
    }

    .back-img2 {
        background-image: url(../images/photo_2024-09-22_20-26-29.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }

    .part-six {
        height: 400px;
    }

    .custom-img {
        background-image: url("../images/best-laptop-for-programming.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40%;
        height: 900px;
    }

    .container-circle {
        bottom: 150px !important;
    }

    .container-caption {
        bottom: 200px !important;
    }

    .txt-team {
        font-size: 29px;
    }

    .text-studio {
        font-size: 32px;
    }
}

@media all and (max-width:575px) {
    .part-third>div>a {
        width: 174px !important;
    }

    .part-third>div>a>i {
        top: 10px;
        left: 190px;
    }

    .container-circle {
        bottom: 60px !important;
    }

    .container-caption {
        bottom: 100px !important;
    }

    .img-icon {
        width: 80px !important;
    }
}