@font-face {
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
}

.custom {
  background-image: url(../images/20240915_214128.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  height: 768px;
}

html {
  scroll-behavior: smooth;
}

.dropdown-item:hover {
  background-color: black;
  color: white;
}

.btn-nav:hover {
  background-color: #5c636a !important;
}

.img-logo {
  width: 60px;
}

.img-icon {
  width: 100px;
}

.container-social {
  display: flex;
  list-style-type: none;
}

.container-social li {
  display: block;
}

.container-social li a {
  display: block;
  color: #2d3748;
  transition: all 0.1s;
  font-size: 14px;
}

.container-social li a:hover {
  transform: scale(1.1);
}

.part-forth {
  background-image: url(../images/photo_2024-09-25_17-21-24.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-logo2 {
  width: 30px;
}

.img-offcanvas {
  width: 40px;
}

.part-six {
  background-image: url(../images/photo_2024-09-22_20-26-29.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.part-seven {
  transition: none !important;
  transform: none;
}

.custom-img {
  height: 600px;
}

.container-circle {
  bottom: 160px !important;
}

.custom-circle {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.container-caption {
  bottom: 220px !important;
}

.link-footer {
  right: 0;
  bottom: 0;
}

.btn-blog:hover {
  background-color: gray !important;
}

@media all and (min-width: 1400px) {
  .btn-submit {
    width: 150px !important;
  }
  .part-input {
    width: 300px !important;
  }
}

@media all and (min-width: 1200px) and (max-width: 1399px) {
  .part-input {
    width: 300px !important;
  }
  .btn-submit {
    width: 150px !important;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .navbar-collapse {
    font-size: 14px !important;
  }
  .part-input {
    width: 500px !important;
  }
  .container-email {
    margin-top: 112px;
  }
  .btn-submit {
    width: 200px !important;
    margin-left: 20px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #navbarSupportedContent {
    background-color: #202021 !important;
  }
  .container-email {
    margin-top: 112px;
  }
  .part-input {
    width: 280px !important;
  }
  .btn-submit {
    width: 150px !important;
    margin-left: 20px;
  }
  .part-forth {
    height: 600px;
    background-position-y: 26%;
  }
  .part-six {
    height: 400px;
    background-position-y: 70%;
  }
  .custom-img {
    background-image: url("../images/best-laptop-for-programming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
  }
  .container-circle {
    bottom: 175px !important;
  }
  .container-caption {
    bottom: 230px !important;
  }
}

@media all and (max-width: 767px) {
  .custom {
    background-position: 70% !important;
  }
  .icon-header:hover {
    transform: none;
  }
  .txt-email {
    font-size: 12px;
  }
  .star {
    font-size: 12px !important;
  }
  .part-forth {
    height: 400px;
  }
  .part-six {
    height: 400px;
  }
  .custom-img {
    background-image: url("../images/best-laptop-for-programming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
  }
  .container-circle {
    bottom: 150px !important;
  }
  .container-caption {
    bottom: 200px !important;
  }
}

@media all and (max-width: 575px) {
  .part-third > div > a {
    width: 174px !important;
  }
  .part-third > div > a > i {
    top: 10px;
    left: 190px;
  }
  .container-circle {
    bottom: 60px !important;
  }
  .container-caption {
    bottom: 100px !important;
  }
  .img-icon {
    width: 80px;
  }
}
